#header{
    background: #f5f5dc;
}

#grid-container{
    background: #ffffff;
}

#frm-projectGrid-filter-perPage{
    margin: 10px 0 15px 0;
}

.datagrid-per-page-submit{
    margin-bottom: 15px;
    color: #333;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #6c757d;
    border-radius: .25rem;
}

table#snippet-projectGrid-table td{
    vertical-align: middle;
}